# Dependencias de Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.npm/

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos específicos de Expo (para fro-vista)
.expo/
*.log
.web/

# De los CU
logs/
auditoria/

# Archivos de entorno
.env
.env.local

# Client.js
fro-vista/src/api/client.js
